<html>
<head>
    <title>{% block title %}Сканнер сайтов{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    {% block scripts %}{% endblock %}
</head>

{% block content %}

{% endblock %}

</body>
</html>